<?xml version="1.0" ?>
<robot name="berkeley_humanoid_lite_right_arm">

  <link name="base">
    <inertial>
      <origin xyz="0 0 0.055" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.055" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.043" length="0.11"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
  </link>
  

  <link name="arm_right_shoulder_pitch">
    <inertial>
      <origin xyz="0.00661228 -1.57066e-05 0.0397088" rpy="0 0 0"/>
      <mass value="0.342876"/>
      <inertia ixx="0.000218503" ixy="2.55599e-07" ixz="-1.17928e-05" iyy="0.000260541" iyz="5.72405e-07" izz="0.000224632"/>
    </inertial>
    <visual>
      <!-- <origin xyz="0.00661228 -1.57066e-05 0.0397088" rpy="-1.5708 -3.78809e-15 -3.14159"/> -->
      <origin xyz="0.00661228 -1.57066e-05 0.0397088" rpy="-1.5708 -3.78809e-15 -3.14159"/>
      <geometry>
        <mesh filename="../meshes/arm_right_shoulder_pitch_visual.stl"/>
      </geometry>
      <material name="arm_right_shoulder_pitch_parts_material">
        <color rgba="0.441363 0.482355 0.421528 0.65191"/>
      </material>
    </visual>
  </link>

  <link name="arm_right_shoulder_roll">
    <inertial>
      <origin xyz="-4.00762e-05 0.0737019 -0.0277329" rpy="0 0 0"/>
      <mass value="0.443945"/>
      <inertia ixx="0.000698118" ixy="-4.07105e-07" ixz="-1.31045e-07" iyy="0.000365437" iyz="-1.56428e-05" izz="0.000568315"/>
    </inertial>
    <visual>
      <origin xyz="-4.00762e-05 0.0737019 -0.0277329" rpy="1.8326 -1.5708 0"/>
      <geometry>
        <mesh filename="../meshes/arm_right_shoulder_roll_visual.stl"/>
      </geometry>
      <material name="arm_right_shoulder_roll_parts_material">
        <color rgba="0.553366 0.585026 0.538047 0.731157"/>
      </material>
    </visual>
  </link>

  <link name="arm_right_shoulder_yaw">
    <inertial>
      <origin xyz="-0.00781722 -1.63693e-05 0.0404875" rpy="0 0 0"/>
      <mass value="0.329199"/>
      <inertia ixx="0.000195409" ixy="-2.54474e-07" ixz="1.84257e-06" iyy="0.000240827" iyz="-5.40945e-07" izz="0.000214844"/>
    </inertial>
    <collision>
      <origin xyz="-1.58554e-15 4.04401e-16 -0.035" rpy="-3.14159 4.52932e-14 3.3952e-14"/>
      <geometry>
        <cylinder length="0.15" radius="0.04"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.00781722 -1.63693e-05 0.0404875" rpy="-2.87979 -1.75175e-14 1.5708"/>
      <geometry>
        <mesh filename="../meshes/arm_right_shoulder_yaw_visual.stl"/>
      </geometry>
    </visual>
  </link>

  <link name="arm_right_elbow_pitch">
    <inertial>
      <origin xyz="-4.00762e-05 0.0737019 -0.0277329" rpy="0 0 0"/>
      <mass value="0.443945"/>
      <inertia ixx="0.000698118" ixy="-4.07105e-07" ixz="-1.31045e-07" iyy="0.000365437" iyz="-1.56428e-05" izz="0.000568315"/>
    </inertial>
    <visual>
      <origin xyz="-4.00762e-05 0.0737019 -0.0277329" rpy="1.8326 -1.12501e-13 -6.36767e-14"/>
      <geometry>
        <mesh filename="../meshes/arm_right_elbow_pitch_visual.stl"/>
      </geometry>
    </visual>
  </link>

  <link name="arm_right_elbow_roll">
    <inertial>
      <origin xyz="-6.0299e-19 -1.89849e-17 0.005" rpy="0 0 0"/>
      <mass value="0.000826239"/>
      <inertia ixx="1.20493e-08" ixy="-1.40849e-37" ixz="-4.81133e-39" iyy="1.20493e-08" iyz="6.41982e-25" izz="1.0328e-08"/>
    </inertial>
    <collision>
      <origin xyz="-6.74047e-19 -2.90123e-17 -0.01" rpy="-3.14159 5.52203e-30 9.67587e-30"/>
      <geometry>
        <cylinder length="0.12" radius="0.03"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-6.0299e-19 0 0.005" rpy="-2.87979 7.25453e-14 3.14159"/>
      <geometry>
        <mesh filename="../meshes/arm_right_elbow_roll_visual.stl"/>
      </geometry>
    </visual>
  </link>

  <link name="arm_right_hand_link">
    <inertial>
      <origin xyz="-0.00248666 0.0134979 -0.0541316" rpy="0 0 0"/>
      <mass value="0.291741"/>
      <inertia ixx="0.000556491" ixy="3.82363e-06" ixz="-2.67254e-06" iyy="0.000494025" iyz="-0.000102102" izz="0.000161723"/>
    </inertial>
    <visual>
      <origin xyz="-0.00248666 0.0134979 -0.0541316" rpy="0.261799 -7.29594e-14 1.5708"/>
      <geometry>
        <mesh filename="../meshes/arm_right_hand_link_visual.stl"/>
      </geometry>
    </visual>
  </link>

  <joint name="arm_right_shoulder_pitch_joint" type="revolute">
    <origin xyz="0 0 0.11" rpy="0 0 0"/>
    <parent link="base"/>
    <child link="arm_right_shoulder_pitch"/>
    <axis xyz="0 0 1"/>
    <limit effort="20" velocity="15" lower="-3.14159" upper="3.14159"/>
    <joint_properties friction="0.1"/>
  </joint>

  <joint name="arm_right_shoulder_roll_joint" type="revolute">
    <origin xyz="-0.0255 0 0.043" rpy="1.5708 0.0 -1.5708"/>
    <parent link="arm_right_shoulder_pitch"/>
    <child link="arm_right_shoulder_roll"/>
    <axis xyz="0 0 1"/>
    <limit effort="20" velocity="15" lower="-3.14159" upper="3.14159"/>
    <joint_properties friction="0.1"/>
  </joint>

  <joint name="arm_right_shoulder_yaw_joint" type="revolute">
    <origin xyz="0 0.123 -0.0255" rpy="1.5708 -1.57 3.14159"/>
    <parent link="arm_right_shoulder_roll"/>
    <child link="arm_right_shoulder_yaw"/>
    <axis xyz="0 0 1"/>
    <limit effort="20" velocity="15" lower="-3.14159" upper="3.14159"/>
    <joint_properties friction="0.1"/>
  </joint>

  <joint name="arm_right_elbow_pitch_joint" type="revolute">
    <origin xyz="0.0245 0 0.043" rpy="1.5708 0 1.5708"/>
    <parent link="arm_right_shoulder_yaw"/>
    <child link="arm_right_elbow_pitch"/>
    <axis xyz="0 0 1"/>
    <limit effort="20" velocity="15" lower="-3.14159" upper="3.14159"/>
    <joint_properties friction="0.1"/>
  </joint>

  <joint name="arm_right_elbow_roll_joint" type="revolute">
    <origin xyz="0 0.123 -0.0255" rpy="1.5708 0 -3.14159"/>
    <parent link="arm_right_elbow_pitch"/>
    <child link="arm_right_elbow_roll"/>
    <axis xyz="0 0 1"/>
    <limit effort="20" velocity="15" lower="-3.14159" upper="3.14159"/>
    <joint_properties friction="0.1"/>
  </joint>

  <joint name="arm_hand_r" type="fixed">
    <origin xyz="0 0 0" rpy="3.14159 0 -1.5708"/>
    <parent link="arm_right_elbow_roll"/>
    <child link="arm_right_hand_link"/>
  </joint>

</robot>